.btn {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn:not(:last-child) {
    margin-right: 5px;
}

.btn--primary {
    color: white;
    background-color: hsl(200, 100%, 50%);

    &:hover {
        background-color: hsl(200, 100%, 35%);
    }
}

.btn--success {
    color: white;
    background-color: hsl(120, 50%, 50%);

    &:hover {
        background-color: hsl(120, 50%, 35%);
    }
}

.btn--danger {
    color: white;
    background-color: hsl(0, 100%, 50%);

    &:hover {
        background-color: hsl(0, 100%, 35%);
    }
}